// my styles

/* Great for Debug!
 {
   background: #000 !important;
   color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

// Nicer subheading in blog posts
.subheading {
    border: medium;
    border-top: thick black;
    font-weight: 300;
}

// color-yiq finds contrast
.custom-element {
    color: color-yiq(#000); // returns `color: #fff`
}

// scroll mathjax long formulas (mostly for mobile)
mjx-container {
    overflow-x: scroll;
}

// homepage name in big
.name {
    font-weight: 300;
}
.card {
    height: 100%;
}