@import "custom";
@import "~bootstrap/scss/bootstrap";
@import 'range_slider.scss';

// my styles

/* Great for Debug!
 {
   background: #000 !important;
   color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/


.subheading {
    border: medium;
    border-top: thick black;
    font-weight: 300;
}

// color-yiq finds contrast
.custom-element {
    color: color-yiq(#000); // returns `color: #fff`
}

mjx-container {
    overflow-x: scroll;
}

.name {
    font-weight: 300;
}