<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-blue" href="/">SW-J</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li
        class="nav-item dropdown {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ .Name }}
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          {{ range sort .Children ".Page.Date" "desc" }}
          <a class="dropdown-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}"
            href="{{.URL}}">{{ .Name }}</a>
          {{ end }}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-primary" href="{{.URL}}">See all</a>
        </div>

      </li>
      {{ else }}
      <li
        class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
        <a class="nav-link" href="{{.URL}}">{{ .Name }}<span class="sr-only">(current)</span></a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
    <div class="d-flex flex-row-reverse">
      {{ partial "follow.html" .}}
    </div>
  </div>
</nav>