{{ define "main" }}
<article class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class='display-4 my-4'>{{ .Title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="social-buttons">
      <a class="social-button linkedin" target="_blank" href="{{index .Site.Params.Social "linkedin"}}"><i class="fab fa-linkedin"></i></a>
      <a class="social-button email" target="_blank" href="mailto:{{index .Site.Params.Social "email"}}"><i class="fa fa-envelope"></i><p class="social-detail-email">{{index .Site.Params.Social "email"}}</p></a>
      <a class="social-button phone" target="_blank" href="tel:{{index .Site.Params.Social "phone"}}"><i class="fa fa-phone-square"></i><p class="social-detail-phone">{{index .Site.Params.Social "phone"}}</p></a>
      <a class="social-button github" target="_blank" href="{{index .Site.Params.Social "github"}}"><i class="fab fa-github-square"></i></a>
      <a class="social-button facebook" target="_blank" href="{{index .Site.Params.Social "facebook"}}"><i class="fab fa-facebook-square"></i></a>
      <a class="social-button instagram" target="_blank" href="{{index .Site.Params.Social "instagram"}}"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-6">
      <div class="contact-form-panel">
        <h4>Or send a message</h4>
        <form action="{{ index .Site.Params "formspree"}}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="First &amp; Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="4" name="message"></textarea>
          </div>
          <input id="submit" name="submit" type="submit" value="Send message" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</article>

{{ end }}
