{{ define "main" }}
<article class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class='display-4 my-4'>{{ .Title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="social-buttons">
      <a class="social-button linkedin" target="_blank" href="{{index .Site.Params.Social "linkedin"}}"><i class="fab fa-linkedin"></i></a>
      <a class="social-button email" target="_blank" href="mailto:{{index .Site.Params.Social "email"}}"><i class="fa fa-envelope"></i><p class="social-detail-email">{{index .Site.Params.Social "email"}}</p></a>
      <a class="social-button phone" target="_blank" href="tel:{{index .Site.Params.Social "phone"}}"><i class="fa fa-phone-square"></i><p class="social-detail-phone">{{index .Site.Params.Social "phone"}}</p></a>
      <a class="social-button github" target="_blank" href="{{index .Site.Params.Social "github"}}"><i class="fab fa-github-square"></i></a>
      <a class="social-button twitter" target="_blank" href="{{index .Site.Params.Social "twitter"}}"><i class="fab fa-twitter-square"></i></a>
      <a class="social-button facebook" target="_blank" href="{{index .Site.Params.Social "facebook"}}"><i class="fab fa-facebook-square"></i></a>
      <a class="social-button instagram" target="_blank" href="{{index .Site.Params.Social "instagram"}}"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Or email here</p>
      <form class="form-horizontal" action="{{ index .Site.Params "formspree"}}" method="POST">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
          </div>
        </div>
      </form>
    </div>
  </div>
</article>

{{ end }}
