<!-- `A rx ry x-rotation large-arg-flag sweep-flag x y` -->
<svg width="100%" viewBox="0 0 100 100">
    <line x1="10" y1="90" x2="90" y2="10" stroke="black" stroke-width="1" />
    <path d="M 30 70 A 40 20 -45 1 1 70 30" stroke="rgb(252, 44, 8)" stroke-width="2" fill="none" />
    <path d="M 30 70 A 40 20 -45 1 0 70 30" stroke="rgb(13, 50, 144)" stroke-width="2" fill="none" />
    <path d="M 30 70 A 40 20 -45 0 1 70 30" stroke="rgb(88, 200, 0)" stroke-width="2" fill="none" />
    <path d="M 30 70 A 40 20 -45 0 0 70 30" stroke="rgb(252, 91, 9)" stroke-width="2" fill="none" />
    <circle cx="30" cy="70" r="4" stroke-width="3" fill="aqua" />
    <circle cx="70" cy="30" r="4" stroke-width="3" fill="aqua" />
    <text fill="rgb(252, 44, 8)" x="8" y="15" font-size="25%">
        <tspan x="8">large-arg-flag 1 </tspan>
        <tspan x="8" dy="5">sweep-flag 1</tspan>
    </text>
    <text fill="rgb(88, 200, 0)" x="27" y="35" font-size="25%">
        <tspan x="27">large-arg-flag 0 </tspan>
        <tspan x="27" dy="5">sweep-flag 1</tspan>
    </text>
    <text fill="rgb(13, 50, 144)" x="70" y="85" font-size="25%">
        <tspan x="70">large-arg-flag 1 </tspan>
        <tspan x="70" dy="5">sweep-flag 0</tspan>
    </text>
    <text fill="rgb(252, 91, 9)" x="50" y="65" font-size="25%">
        <tspan x="50">large-arg-flag 0 </tspan>
        <tspan x="50" dy="5">sweep-flag 0</tspan>
    </text>
</svg>
