<svg width="100%" viewBox="0 0 100 100">
    <linearGradient id="Gradient1">
        <stop offset="0%" stop-color="rgb(252, 254, 7)" />
        <stop offset="100%" stop-color="rgb(198, 6, 9)" />
    </linearGradient>
    <radialGradient id="Gradient2">
        <stop offset="0%" stop-color="rgb(88, 200, 0)" />
        <stop offset="100%" stop-color="rgb(13, 50, 144)" />
    </radialGradient>
    <circle cx="60" cy="40" r="30" fill="url(#Gradient2)" />
    <rect x="10" y="40" width="40" height="40" fill="url(#Gradient1)" />
</svg>
