<svg width="100%" viewBox="0 0 100 100">
    <line x1="10" y1="10" x2="90" y2="10" stroke="black" stroke-width="1" stroke-dasharray="2" />
    <line x1="10" y1="14" x2="90" y2="14" stroke="black" stroke-width="1" stroke-dasharray="16" />
    <line x1="10" y1="18" x2="90" y2="18" stroke="black" stroke-width="1" stroke-dasharray="16" stroke-dashoffset="8" />
    <line x1="10" y1="22" x2="90" y2="22" stroke="black" stroke-width="1" stroke-dasharray="16"
        stroke-dashoffset="16" />
    <path d="M 10 45 c 0, -15 20,-15, 20,0 c 0, 15 20,15 20, 0
             c 0, -15 20,-15, 20,0 c 0, 15 20,15 20, 0" stroke="black" stroke-width="1" fill="none"
        stroke-dasharray="2" />
    <path d="M 10 75 c 0, -15 20,-15, 20,0 c 0, 15 20,15 20, 0
             c 0, -15 20,-15, 20,0 c 0, 15 20,15 20, 0" stroke="black" stroke-width="1" fill="none"
        stroke-dasharray="2 2 12 2 2" stroke-dashoffset="-4" />
</svg>
